---
layout: default
title: Home
cover: false
convite: 'convite.html'
---

<header class="site-head" {% if page.cover %} style="background-image: url({{ page.cover }})"{% endif %}>
    <div class="vertical">
        <div class="site-head-content" class="inner">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
            <h1 class="blog-title">{{ site.name }}</h1>
            <h2 class="blog-description"> 
                {{ site.description }}
                <br>
                {% if page.convite %} <a href='{{ site.baseurl }}{{ page.convite }}'> Convite </a> {% endif %}
            </h2>
        </div>
    </div>
</header>

<main class="content" role="main">

    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time> {{!tags prefix="on "}}</span>
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

        </header>
        <section class="post-excerpt">
            {{ post.excerpt }}
        </section>
    </article>

    {% endfor %}

    <!-- Countdown dashboard start -->
        <div id="countdown_dashboard" class="shadow">
        <h1>O grande dia está chegando</h1>
            <div class="dash days_dash">
                <span class="dash_title">dias</span>
                <div class="digit">0</div>
                <div class="digit">6</div>
            </div>

            <div class="dash hours_dash">
                <span class="dash_title">horas</span>
                <div class="digit">1</div>
                <div class="digit">5</div>
            </div>

            <div class="dash minutes_dash">
                <span class="dash_title">minutos</span>
                <div class="digit">0</div>
                <div class="digit">4</div>
            </div>

            <div class="dash seconds_dash">
                <span class="dash_title">segundos</span>
                <div class="digit">3</div>
                <div class="digit">3</div>
            </div>
      
      <div class="clearfix"></div>

        </div>
        <!-- Countdown dashboard end -->

    <nav class="pagination" role="pagination">

        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
          {% else %}
          <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
          {% endif %}
        {% endif %}

        <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>
        
        {% if paginator.next_page %} 
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
        {% endif %} 
    </nav>
    

</main>
